/* Main CSS class of the tooltip  http://dev.wikia.com/wiki/Tooltips
For use in templates in Category:Tooltip*/
body .main-tooltip {
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 2px 5px;
    background-color: transparent; /*#d4d4d4;*/
}
 
body .tt-ability-tooltip {
    border: 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-arcane-tooltip {
    border: 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-damagetype-tooltip {
    border: 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-mod-tooltip {
    border: 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-warframe-tooltip {
    border: 0px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-weapon-tooltip {
    border: 0px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
body .tt-relic-tooltip {
    border: 0px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
 
/*For example for t:Tooltip/Warframe */
.Tooltip {
    background-color: #ddd0;
    border: 1px solid #313234;
    border-spacing:0;
    border-radius:4px;
    color: #1C1C1C;
    font-size: 11px;
    width: 200px;
}
 
.Tooltip .Sub {
    background-color: #ddd0;
    border: 3px solid rgba(49,50,52,0.3);
    border-spacing:0;
    border-radius:4px;
    color: #1C1C1C;
    font-size: 14px;
    width: 200px;
    padding:0;
}
 
.Tooltip .Title {
    background-color: #1C130D94;
    border: 1px solid #313234;
    color: #eeeeee;
    font-size: 16px;
    padding: 0.2em;
    text-align: center;
}
 
.Tooltip .Image {
    background: rgba(93, 89, 77, 0.9);
    height: 100px;
    padding-top: 0.2em;
    padding-bottom:0.2em;
    text-align: center;
    border: 1px solid #414244;
}
 
.Tooltip .Spacer {
    background-color: rgba(49,50,52,0.3);
}
 
.Tooltip .Data {
    background-color: #1C130DD4;
    font-size:11px;
    line-height:11px;
    margin:0;
    width:100%;
    white-space:nowrap;
    color: #eeeeee;
    padding:0;
}
 
.Tooltip .LinkText {
    color:rgb(255, 213, 175);
    font-weight:bold;
}
 
.Tooltip .TableHalf {
    padding:4px;
    width:50%;
}
 
.Tooltip .Relic {
    max-width:300px;
}
 
.Tooltip .Relic .Data {
    font-size: 16px;
    font-weight: bold;
    background-color: #1C130DCC;
    white-space: nowrap;
    line-height: 15px;
    padding: 2px;
}
.Tooltip .Relic .Data tr {
    margin: auto 0;
    display: table-row-group;
}

.Tooltip .Relic .gradientText {
    /*-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.7), rgba(0,0,0,1) 60%);
    -webkit-mask-image: linear-gradient(bottom, rgba(0,0,0,.7), rgba(0,0,0,1) 60%);*/
    padding-left: 5px;
    padding-right: 5px;
    display: table-footer-group;
}
 
.Tooltip .Relic .Image {
    border: 2px solid #49433F;
    background-color: rgba(47, 38, 30, 0.5);
    padding: 2px;
    height: auto;
}
 
.Tooltip .Damage {
    text-align: center;
}
 
.Tooltip .Damage .Data {
    color: #111;
    padding: 2px;
    background-color: #cccccce6;
    line-height: 16px;
    font-size: 14px;
}
 
/* Adds padding to the wrapper to make space for a shadow + z-index so tooltips are visible over edit preview screen */
body #tooltip-wrapper {
    padding: 3px 7px 2px 3px;
    z-index: 6000000;
}
 
/* Hides tooltips with redlinks, not yet loaded ones and elements containing tooltip contents for advanced tooltips */
body .has-redlinks,
body .tooltip-loading,
body .advanced-tooltip body .tooltip-contents {
   display: none;
}
 
body .tooltips-init-complete {
    cursor: help;
    word-break: break-all !important;
}