@import url("/index.php?title=MediaWiki:Common.css&usemsgcache=yes&ctype=text/css&smaxage=86400&action=raw&maxage=86400");

 /* ---------- RESPONSIVE SUPPORT  ---------- */
@media (max-width:1023px) {
	.mainpage-box-playfree {
    display: grid;
    margin: auto;
	}
}

 /* ---------- RESPONSIVE SUPPORT ---------- */

 /* ---------- RP - Container ---------- */
.rp_container .imgbox {
  display: flex;
  justify-content: start;
  align-items: center;
}
.rp_container .imgbox img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}
.rp_container .character_name {
  display: inline-block;
  width: 100%;
  font-weight: lighter;
  color: #fff;
  padding: 7px 0;
  border-top: 7px solid #012e59;
  border-bottom: 7px solid #3278991a;
  border-left-width: 0;
  border-right-width: 0;
  border-image: linear-gradient(to right, #012e59, #3278991a) 1 stretch;
  text-indent: 10px;
  margin-left: 10px;
}
.rp_container .character_description {
  color: #cecece;
  padding-left: 150px;
}
 /* ---------- RP - Container ---------- */

 /* ---------- Invasion-test ---------- */
.invasion_container {
  max-width: 700px;
  color: #cecece;
}
.invasion_container .box {
  margin: 15px 0 25px;
}
.invasion_container .topbar {
  display: flex;
  justify-content: space-between;
}
.topbar.infested {
    justify-content: flex-end;
}

.invasion_container .reward_left {
  background-color: #6a241c;
  border-radius: 7px;
  padding: 3px 7px;
}
.invasion_container .reward_right {
  background-color: #003e66;
  border-radius: 7px;
  padding: 3px 7px;
}
.invasion_container .reward_planet {
  text-align: center;
}
.invasion_container .reward_planet span {
  font-weight: bold;
}
.invasion_container .bottom_bar {
  position: relative;
}
.invasion_container .progression_bar_content {
  position: relative;
  text-align: center;
  height: 24px;
  z-index: 2;
}
.invasion_container .progression_bar_box_value {
  width: 700px;
  height: 24px;
  position: absolute;
  top: 0;
  border-radius: 7px;
  background-color: #003e66;
}
.invasion_container .progression_bar {
  background-color: #461914;
  width: 17.93%;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.invasion_container .progression_bar {
  display: block;
  height: 24px;
  z-index: 1;
}
.invasion_container .align-me {
  display: grid;
  align-items: center;
}
 /* ---------- Invasion-test ---------- */
 
 
 /* ---------- Body ---------- */
 /*body.background-dynamic.skin-oasis::after, 
 body.background-dynamic.skin-oasis::before,
 body.skin-oasis{
     background-size: cover !important;
}*/

/*.background-image-gradient,
body.background-dynamic.skin-oasis .background-image-gradient::before,
body.background-dynamic.skin-oasis .background-image-gradient::after {
    display: none !important;
    background-color: transparent !important;
    opacity: 0 !important;
} 

body.background-dynamic.skin-oasis::before {
    background-position: 0 !important;
    left: 0 !important;
    margin-left: 0 !important;
}
body.background-dynamic.skin-oasis::after {
    background-position: right !important;
    margin-right: 0 !important;
    right: 0 !important;
}*/

.mw-parser-output a.external::after {
	display: none !important;
	width: 0px !important;
	mask: "";
}

.tabbertab p .external span {
	background-color: #006cb0 !important;
	color: white !important;
	padding: 3px 10px !important;
}

.WikiaPage h2 {
	margin-top: 30px;
}

.CategorySelect.articlePage {
	background: none !important;
	border: none !important;
}

.activity-module ul .activity-item {
	display: flex !important;
}

/* Sommaire */
.catlinks, .toc {
	border: 1px solid #2a61b782 !important;
}
.toctext b {
	font-weight: normal !important;
}
.toc  {
	padding: 0 !important;
}
.toc ul, .toc ul ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0px 10px !important;
}
.toc .toctitle {
	padding: 3px 9px;
	background: #012e59;
}

/** SOCIAL ICONS **/
.SocialIcon {
	width:15px;
	height:32px;
	background: rgba(0,0,0,0) top right fixed no-repeat;
	transition:width 0.3s;
	-webkit-transition:width 0.3s;
	-moz-transition:width 0.3s;
	-o-transition:width 0.3s;
	overflow:hidden;
}

.SocialIcon:hover {
	width:29px;
}
/* ------------------ */
 
/** Warframe Icons **/
/**pretty much a social icon copy**/

.WarframeIcon {
    width:20px;
	height:400px;
	background: rgba(0,0,0,0) top right fixed no-repeat;
	transition:width 0.3s;
	-webkit-transition:width 0.3s;
	-moz-transition:width 0.3s;
	-o-transition:width 0.3s;
	overflow:hidden;
}

.WarframeIcon:hover {
	width:300px;
    z-index: 10;
}
/* ------------------ */
 
/** Warframe Icons 2**/
/**slight tweek from above version (implemented in specific pages of each warframes)**/

.WarframeIcon2 {
    width:55px;
	height:290px;
	background: rgba(0,0,0,0) top right fixed no-repeat;
	-moz-transition:width 0.3s;
	-webkit-transition:width 0.3s;
    -o-transition:width 0.3s;
	overflow:hidden;
}

.WarframeIcon2:hover {
	width:690px;
        z-index: 10;
}
/* ------------------ */
 
/**tabbernav**/
.page ul.tabbernav li {
  background-color: #ed841b;
}

ul.tabbernav li {
	padding: 0 !important;
}
/* ------------------ */


/**Nav-Type Current Active Article**/
.selflink {
    color: #5288dd;
}
/* ------------------ */

/* ------------------ */
/** Play Free box **/
.mainpage-box-playfree {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -user-select: none;
    cursor: pointer;
    display: inline-flex;
    transform: skew(30deg);
    width: 260px;
    margin: 0 25px 15px auto;
    padding:10px 0px;
    text-align: center;
}
 
.mainpage-box-playfree a {
    vertical-align:middle;
    font-family:'Open Sans';
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 25px;
    color: #FFFFFF;
}

.mainpage-box-recentactivity li {
    list-style: none;
}

/* ------------------ */

/** Glow Button Prop **/
.glow_hover_element {
    background:#5288DD63;
    transition: all 0.3s
}
 
.glow_hover_element:hover {
    background:#061D40D6;
    transition: all 0.3s
}
/* ------------------ */
 
/* Brizingr5: WEAPONINFOBOX */
.Infobox_Collapsible {
    height: 0px;
    overflow: hidden;
    -moz-transition:height 0.3s;
    -webkit-transition:height 0.3s; /* Safari */
    -o-transition:height 0.3s;
}
/* ------------------ */
 
/* GALLERY TILES */
.mainpage-box-gallery-container {
    position: relative;
    width: 95.6%;
    font-size: 25px;
    font-family:'Open Sans';
    font-weight: lighter;
    overflow: hidden;
    margin-bottom: 7px;/*3%;*/
}
 
.mainpage-box-gallery-container a {
    text-decoration: none !important;
}

.mainpage-box-gallery {
    background: #061D40D6;
    width: 93.6%;
    padding: 20px;
    transform: skew(30deg);
    overflow: hidden;
    position: relative;
    left: -2%;
}

.mainpage-box-gallery-text {
    background: #5288DD63;
    position: absolute;
    transform: skew(-30deg);
    top: -2px; /*-8%;*/
    left: 45%;
    color: #FFFFFF;
}
/* ------------------ */
 
/* START Brizingr5: text rotate*/
.text_rotate-90 {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
}
 
.text_rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); 
    -ms-transform: rotate(270deg); 
    -moz-transform: rotate(270deg); 
    -o-transform: rotate(270deg);
}
/* ------------------ */
 
/* START Email : Market Tables */
.emarkettable {
    width: 100%;
    background: black;
    text-align: center;
}

.emarkettable th {
    background: #696969;
    color: white;
}

.emarkettable td {
    background: #9AACBF;
    width: 20%;
    padding: 5px;
}
/* ------------------ */
 
/* START Email : infobox */
.einfobox_collapsible {
    display:none;
}

.einfobox_collapsible>td:nth-child(2) {
    box-shadow:0 0 10px 2px #AAAAAA inset;
}

.einfobox {
	float:right;
	width:270px;
	background:#E6E6E6;
	border:3px solid #424242;
	border-radius: 4px;
	box-shadow:3px 3px 2px;
	margin:0 0 2em 2em;
	margin-bottom: 10px;
	color:#1C1C1C;
	font-size:11px;
}

.einfobox  th {
	background-color:#7C7C7C;
	color:#FFFFFF;
	text-align: center;
}

.einfobox  tr>td:nth-child(1) {
	width:50%;
	background-color:#D8D8D8;
	text-align:right;
	padding:1px 5px;
}

.einfobox  tr>td:nth-child(2) {
	width:50%;
	text-align:left;
	padding:1px 5px;
}
/* ------------------ */
 
/** START Admin Comment Highlighting **/
.avatar {
    border-radius: 100px;
}
.SpeechBubble .speech-bubble-message {
    border-left: .2rem solid #333;
    border-radius: 5px 0 0 5px;

}
.SpeechBubble .speech-bubble-message::before,
.SpeechBubble .speech-bubble-message::after {
    display: none;
}

a[href="/fr/wiki/Utilisateur:Xhell96"]:nth-child(2)::after {
	content: "Fondateur";
    display: block;
    color: #f2bb15;
    margin: -6px 0;
    font-size: 10px;
}

a[href="/fr/wiki/Utilisateur:Beuargh"]:nth-child(2)::after,
a[href="/fr/wiki/Utilisateur:Zengrof"]:nth-child(2)::after, 
a[href="/fr/wiki/Utilisateur:Franck054"]:nth-child(2)::after,
a[href="/fr/wiki/Utilisateur:Redgard_archeos"]:nth-child(2)::after {
	content: "Bureaucrate";
    display: block;
    color: #0bc5d8;
    margin: -6px 0;
    font-size: 10px;
}

a[href="/fr/wiki/Utilisateur:Killer_pingoui"]:nth-child(2)::after, 
a[href="/fr/wiki/Utilisateur:Hasen1"]:nth-child(2)::after,
a[href="/fr/wiki/Utilisateur:Noxamas"]:nth-child(2)::after,
a[href="/fr/wiki/Utilisateur:ADDRMeridan"]:nth-child(2)::after,
a[href="/fr/wiki/Utilisateur:Yazuh"]:nth-child(2)::after {
	content: "Administrateur";
    display: block;
    color: #1297e6;
    margin: -6px 0;
    font-size: 10px;
}

a[href="/fr/wiki/Utilisateur:Kenexey"]:nth-child(2)::after, 
a[href="/fr/wiki/Utilisateur:Blade_Wolf_16"]:nth-child(2)::after {
	content: "Modérateur";
    display: block;
    color: #9d2aec;
    margin: -6px 0;
    font-size: 10px;
}

.comments li[data-user="Zengrof"] .speech-bubble-avatar a img,
.comments li[data-user="Franck054"] .speech-bubble-avatar a img,
.comments li[data-user="Wikirion"] .speech-bubble-avatar a img,
.comments li[data-user="Redgard archeos"] .speech-bubble-avatar a img,
.comments li[data-user="Beuargh"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #11c3bd;
    border: 2px solid #0dafbd;
}
.comments li[data-user="Zengrof"] .speech-bubble-avatar::after,
.comments li[data-user="Franck054"] .speech-bubble-avatar::after,
.comments li[data-user="Wikirion"] .speech-bubble-avatar::after,
.comments li[data-user="Redgard archeos"] .speech-bubble-avatar::after,
.comments li[data-user="Beuargh"] .speech-bubble-avatar::after {
    content: "Bureaucrate";
    display: block;
    text-align: center;
    color: #21d7bd;
    font-family: 'Manjari', serif;
    font-weight: bold;
    margin: 0 -8px;
}

.WikiaPage .edit-info-user[href$="Zengrof"], 
.WikiaPage .edit-info-user[href$="Franck054"], 
.WikiaPage .edit-info-user[href$="Wikirion"],
.WikiaPage .edit-info-user[href$="Redgard archeos"],
.WikiaPage .edit-info-user[href$="Beuargh"] {
    color: #21d7bd !important;
    text-shadow: rgb(36, 150, 110) 0px 0px 4px !important;
}

.comments li[data-user="Killer pingoui"] .speech-bubble-avatar a img,
.comments li[data-user="Hasen1"] .speech-bubble-avatar a img,
.comments li[data-user="Noxamas"] .speech-bubble-avatar a img,
.comments li[data-user="ADDRMeridan"] .speech-bubble-avatar a img,
.comments li[data-user="Yazuh"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #2a76ec;
    border: 2px solid #2c75dd;
}
.comments li[data-user="Killer pingoui"] .speech-bubble-avatar::after,
.comments li[data-user="Hasen1"] .speech-bubble-avatar::after,
.comments li[data-user="Noxamas"] .speech-bubble-avatar::after,
.comments li[data-user="ADDRMeridan"] .speech-bubble-avatar::after,
.comments li[data-user="Yazuh"] .speech-bubble-avatar::after {
    content: "Admin";
    display: block;
    text-align: center;
    color: #1297e6;
    font-family: 'Manjari', serif;
    font-weight: bold;
}

.WikiaPage .edit-info-user[href$="Killer pingoui"], 
.WikiaPage .edit-info-user[href$="Hasen1"], 
.WikiaPage .edit-info-user[href$="Noxamas"],
.WikiaPage .edit-info-user[href$="ADDRMeridan"],
.WikiaPage .edit-info-user[href$="Yazuh"] {
    color: #1297e6 !important;
    text-shadow: rgb(37, 83, 64) 0px 0px 4px !important;
}

.comments li[data-user="Kenexey"] .speech-bubble-avatar a img,
.comments li[data-user="Blade Wolf 16"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #9d2aec;
    border: 2px solid #9d2aec;
}
.comments li[data-user="Kenexey"] .speech-bubble-avatar::after,
.comments li[data-user="Blade Wolf 16"] .speech-bubble-avatar::after {
    content: "Modérateur";
    display: block;
    text-align: center;
    color: #af21d7;
    font-family: 'Manjari', serif;
    font-weight: bold;
    margin: 0 -6px;
}


/* ------------------ */
 
 
/* START MEAG Buttons effects*/ 
.MEAG {
    width:150px;
    height:150px;
    box-shadow: inset 0px 0px 25px 20px rgba(15, 15, 15, 0.75);
  	background-color: #eeeeee;
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  	background-image: -webkit-linear-gradient(top, #646464, #909090);
  	background-image: -moz-linear-gradient(top, #646464, #909090);
  	background-image: -ms-linear-gradient(top, #646464, #909090);
  	background-image: -o-linear-gradient(top, #646464, #909090);
  	background-image: linear-gradient(top, #646464, #909090);
    border-width: 1px;
    border-style: solid;
    border-color:#4a4a4a;
    border-radius: 0% 25% 0% 25%;
  	-webkit-border-radius: 0% 25% 0% 25%;
  	-moz-border-radius: 0% 25% 0% 25%;
    overflow:hidden;
  	color: #ffa02d;
  	text-align: center;
  	text-shadow: 0 0 5px #ffa02d;
}

.MEAG:hover {
    box-shadow: inset 0px 0px 25px 20px rgba(15, 15, 15, 0.75);
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #FF6600, #000000);
    background-image: -moz-linear-gradient(top, #FF6600, #000000);
   	background-image: -ms-linear-gradient(top, #FF6600, #000000);
   	background-image: -o-linear-gradient(top, #FF6600, #000000);
    background-image: linear-gradient(top, #FF6600, #000000);
    border-width: 1px;
    border-style: solid;
    border-color:#4a4a4a;
    cursor: pointer;
	  text-shadow: 0 0 5px #ffa02d;
}

.MEAG:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    border-color:#4a4a4a;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 8px 8px 25px 20px rgba(15, 15, 15, 0.75);
}
/* ------------------ */
 
/*SyndicatesNavVisual hover*/
.syndicate_container {
  width:100%; 
  height:100px;
  text-align:center;
}
 
.syndicate_container .flag {
  position:relative;
  height:95px; 
  width:60px;
  display:inline-block;
  margin:0 2px;
}
 
.syndicate_container .flag .text {
    position:absolute;
    top:30px;
    text-align:center;
    width:100%;
    color:white;
    text-shadow: 0px 0px 2px black;
    opacity:0;
    transition:0.2s;
    font-size:12px;
    line-height:13px;
}
 
.syndicate_container .flag .text a {
    color:white;
}
 
.syndicate_container .flag:hover .text {
  opacity:1;
}
/* ------------------ */
 
.tabberlive-full-page > .tabberlive > .tabbertab {
    border: 0;
    padding: 0;    
}
 
.tabberlive-full-page > .tabberlive > ul.tabbernav li {
    border-bottom: 1px solid transparent;
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
    background: #1e1e1e;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-grid;
    font-size: 14px;
    line-height: 23px;
    padding: 6px 12px 3px;
    position: relative;
    top: 1px;
}
 
.tabberlive-full-page > .tabberlive > ul.tabbernav li.tabberactive {
    cursor: text;
}
 
.tabberlive-full-page > .tabberlive > ul.tabbernav li a {
    background: none;
    border: none;
    cursor: pointer;
}
 
.tabberlive-full-page > .tabberlive > ul.tabbernav li.tabberactive a {
    cursor: text;
}


/* === Template:Ambox designs === */
/* Ambox design */
.ambox {
    font-size: 95%;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    border-left: 10px solid #1e90ff;
    border-collapse: collapse;
}
/* ------------------ */

/* Ambox colours */
.ambox-blue {
    border-left: 10px solid #1e90ff;    /* Blue (notice) */
}

.ambox-red {
    border-left: 10px solid #ff0000;    /* Red (delete/serious) */
}

.ambox-orange {
    border-left: 10px solid #f28500;    /* Orange (content) */
}

.ambox-yellow {
    border-left: 10px solid #f4c430;    /* Yellow (style) */
}

.ambox-purple {
    border-left: 10px solid #9932cc;    /* Purple (merge) */
}

.ambox-gray {
    border-left: 10px solid #4d4d4d;    /* Gray (protection) */
}

.ambox-green {
    border-left: 10px solid #228b22;    /* Green */
}

.ambox-none {
    border-left: 0;
}

/* ------------------ */

/* Ambox small text */
.ambox-smalltext {
    font-size: smaller;
    margin-top:0.5em;
    margin-left:0.8em;
}
/* ------------------ */
 
/* Ambox image */
.ambox-image {
    width: 60px;
    padding: 2px 0px 2px 0.5em;
    text-align: center;
}
/* ------------------ */

/* Background for Module:Codex*/
.codexflower {
    background-color: rgba(47,56,66,0.23);
    background-image: url(https://vignette.wikia.nocookie.net/warframe/images/a/a7/Codex_wallpaper.jpg/revision/latest?cb=20200112094224&format=original&path-prefix=fr);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}
/* ------------------ */

@media print { .ambox { display: none; } }    /* no ambox when printing */
 
 
/* Void drop table*/
table.voidtable {
    width:100%;
    text-align:left;
    border:1px solid #5288DD63;
    border-collapse: collapse;
    background-color: rgba(58, 46, 21, 0.25);
}
 
table.voidtable th {
    background-color: #5288DD63;
    color:white;
    width:50%;
    padding:0px 4px;
    border:1px solid #5288DD63;
}
 
table.voidtable td {
    width:50%;
    border:1px solid #5288DD63;
    vertical-align: top;
}
/* ------------------ */

/* toclimit code */
.toclimit-2 .toclevel-2 {display:none;}
.toclimit-3 .toclevel-3 {display:none;}
.toclimit-4 .toclevel-4 {display:none;}
.toclimit-5 .toclevel-5 {display:none;}
.toclimit-6 .toclevel-6 {display:none;}
.toclimit-7 .toclevel-7 {display:none;}
/* ------------------ */

/** Curseur **/
body{
  cursor: url(https://images.wikia.nocookie.net/__cb20150224072054/warframe/fr/images/e/eb/Warframe_cursor.png), default;
}
 
a:link{
  cursor: url(https://images.wikia.nocookie.net/__cb20150224072917/warframe/fr/images/b/bf/Warframe_cursor_lien.png), pointer;
}
/* ------------------ */
 
/*Homepage Buttons effects*/
.HomeNav {
    display:inline-block;
    position:relative;
    width:112px;
    transform: skew(30deg);
    text-align:center;
    background:#5288DD63;
    padding:5px;
    text-transform:uppercase;
    font-size:14px;
    margin:2px;
    color:white;
}
 
.HomeNav span {
    display:inline-block;
    transform: skew(-30deg);
    color:white;
}
 
.HomeNav span a {
    font-size:14px;
    font-weight:bold;
    color:white;
    text-decoration:none;
}
 
.HomeNav .trapzoidleft {
    position:absolute;
    top:0;
    left:-10px;
    height:100%;
    width:30px;
    background:transparent;
    transform: skew(-30deg);
}
 
.HomeNav .trapzoidright {
    position:absolute;
    top:0;
    right:-10px;
    height:100%; 
    width:30px;
    background:transparent;
    transform: skew(-30deg);
}
 
.HomeNav:hover span a {
    color:white;   
}
/* ------------------ */

/* Void drop table nav buttons*/
.voidbutton {
    display:inline-block;
    width:230px;
    height:30px;
    border:1px solid orange;
    background:#061D40D6;
    padding:5px;
    font-family:Open Sans;
}
 
.voidbutton:hover {
    background:transparent;
    transition:0.1s;
}
/* ------------------ */
 
/* Infoboxes portables */

.portable-infobox {
    width: 270px;
    background-color: rgba(65, 85, 143, 0.16);
    border: 1px solid #021737;
}
.portable-infobox .pi-title {
    font-weight: bold;
}

.portable-infobox .pi-title {
    background-color: #061d40;
}

.portable-infobox .pi-header {
    background-color: #061d40a3;
}

ul.pi-image-collection-tabs li.current {
    background: 
    #324666;
    font-weight: bold;
    padding: 0px 7px;
}

.pi-image {
    text-align: center;
    background-image: url(https://vignette.wikia.nocookie.net/warframe/images/a/a7/Codex_wallpaper.jpg/revision/latest?cb=20200112094224&format=original&path-prefix=fr);
    background-position: center;
    background-size: cover;
}
/* ------------------ */

/* SocialMedia */
.SocialMedia {
    margin:auto;
    display: flex;
    justify-content: space-evenly; /*-Incompréhension du lecteur mais fonction bonne*/
    width:300px;
}

.SocialMedia img {
    max-width:20px;
    margin:0 7px;
    filter: brightness(75%);
    transition:0.4s;
}

.SocialMedia img:hover {
    filter: brightness(150%);
    transition:0.4s;
}
/* ------------------ */

/*--ACTIVITY TABBER CSS--*/
.activity_tabber .tabbernav ul li {
    color:red;
}

.activity_tabber ul.tabbernav li {
    margin:0 45px;
    transition: 0.3s;
}


.activity_tabber ul.tabbernav li a {
    transition: 0.3s;
}

.activity_tabber ul.tabbernav li a:hover {
    transition: 0.3s;
    filter: brightness(150%);
}
/* ------------------ */

/** Alert Tabber **/
.Alert_tabber .tabberlive {
    display: flex;
    width: 100%;
    margin-top: 0.5em;
    border:none;
}
 
.Alert_tabber .tabber .tabbernav {
    display: flex;
    flex-direction: column;
    max-width:10%;
    padding: 0;
    border:none;
}
 
.Alert_tabber .tabbernav a {
    display: block;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    background: transparent;
    color: black;
    transition: 0.3s;
    border:none;
}

.Alert_tabber .tabbernav a:hover {
    filter: brightness(150%);
    transition: 0.3s;  
}

.Alert_tabber .tabbernav li {
    vertical-align: middle;
    margin:auto 0;
    padding:0;
    border:none;
}

.Alert_tabber .tabbertab {
    border:none;
    display:flex;
}
 
 
.Alert_tabber .tabberactive a {
    background: #2aa198;
    color: white;
    border-radius: 3px;
}
/* ------------------ */

/* emodtable css */
.emodtable {
    width: 55%;
}

.emodtable th, .bigmodtable th, .wikitable th {
    background-color: #5288DD63 !important;
    border: 1px solid black;
    color: white;
    width: 10%;
}

.emodtable th a, .bigmodtable th a, .wikitable th a {
    color: white;
}

.emodtable td, .bigmodtable td, .wikitable td {
    background-color: #353535;
    background-color: rgba(65,85,143,0.16);
    border: 1px solid black;
}

.wikitable tr:first-child {
    background-color: #5288DD63 !important;
    color: white !important;
    border: 1px solid black !important;
}
.wikitable_first_reset tr:first-child {
    background-color: none !important;
}

/* ------------------ */

/* New T:Ability Stuff START*/
    /* Button-c START */
.button-c {
    cursor: pointer;
    width: 100%;
    height: 32px;
    background-color: #061D40D6;
    text-align: center;
    padding: 0;
    border: none;
    transition:all 0.5s;
}
.button-c:hover {
    background: #5288DD63;
}
    /* Button-c END */
 
 
    /* Rotate-c START */
.rotate2-c {
    padding: 5px 0 7px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rotate2-c {
-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.rotate-c {
    padding: 5px 0 7px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
    /* Rotate-c END */

    /* Rotate-c END */
 
 
    /* Ability tabbers START */
.tabber-dark,
.tabber-light {
    border: none;
    padding: 0;
}
 
.tabber-dark ul.tabbernav,
.tabber-light ul.tabbernav {
    background-color: #061D40D6;
    border: none;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-weight: normal;
    text-transform: uppercase;
}
.tabber-light ul.tabbernav {
    background-color: #bcbcc5 !important;
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a,
.tabber-light ul.tabbernav li a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.tabber-light ul.tabbernav li a {
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a:visited,
.tabber-light ul.tabbernav li a:visited {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.tabber-light ul.tabbernav li a:visited {
    color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li a:hover,
.tabber-light ul.tabbernav li a:hover {
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: #bcbcc5 solid 2px;
}
.tabber-light ul.tabbernav li a:hover {
    border-bottom: #061D40D6 solid 2px !important;
}
 
.tabber-dark ul.tabbernav li.tabberactive a,
.tabber-light ul.tabbernav li.tabberactive a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: none;
    color: #2a2a31;
    background-color: #061D40D6;
}
.tabber-light ul.tabbernav li.tabberactive a {
    color: white !important;
    background-color: #2a2a31 !important;
}
 
.tabber-dark ul.tabbernav li.tabberactive a:hover,
.tabber-light ul.tabbernav li.tabberactive a:hover {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: none;
    color: #2a2a31;
    background-color: #bcbcc5;
}
.tabber-light ul.tabbernav li.tabberactive a:hover {
    color: white !important;
    background-color: #061D40D6 !important;
}
 
.tabber-dark .tabberlive,
.tabber-light .tabberlive {
    width: 100%;
}
 
.tabber-dark .tabberlive .tabbertab,
.tabber-light .tabberlive .tabbertab {
    border: none;
    padding: 0 7px;
}
    /* Ability tabbers END */
/* New T:Ability Stuff END*/

/* Codex_Table_Box */
.codex_page_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px 0%;
}

div.codex_box_container > div > a > img {
    object-fit: contain;
    width: 67px;
    height: 72px;
}
.codex_box_container {
    height: 109px;
    width: 109px;
    display:grid;
    grid-template-rows: 65% 1fr;
    grid-template-areas: "img"
                         "text";
    position: relative;
    background: rgba(38, 62, 81, 0.46);
    border: 1px solid #67819c;
    text-align: center;
    margin-bottom: 4px;
}

.codex_box_img {
    grid-area: img;
}

.codex_box_text {
    display: grid;
    align-items: center;
    grid-area: text;
    font-family:'Roboto';
    background-color: rgba(36, 44, 70, 0.44);
    text-transform:uppercase;
    font-weight:bold;
    font-size:80%;
    line-height:1.5em;
    color:white;
    overflow:hidden;
}

.codex_box_text a {
    text-decoration:none;
    color:white;
}

@media only screen and (max-width: 1595px) {
  .codex_page_container {
    grid-template-columns: repeat(6,1fr);
  }
}

/* Codex_Table_Box END*/

/* NEW Switcher System */

.Switch-Box {
    Display: grid;
    grid-template-columns: repeat(5,125px);
    grid-template-rows: repeat(5,auto);
    column-gap: 0.2em;
    row-gap: 0.05em;
}

.Switch-Box .Switcher {
    height: 115px;
    width: 115px;
    position: relative;
    overflow: hidden;
    border: 5px solid #5288DD63;
    display: grid;
    justify-items: center;
}

.Switch-Box .Switcher .switch_img {
  position: absolute;
  top: 0;
}

.Switch-Box .Switcher .Switch_link {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #012e5963;
  z-index: 2;
}
.Switch-Box .Switcher .Switch_link a {
  color: #fff;
}
.Switch-Box .Switcher .Switch_link a:hover {
    text-decoration: none;
}
.Switch-Box .Switcher .Switcherimage, .Switch-Box .Switcher .Switcherimage2 {
    transition:0.3s;
    position: absolute;
    top: 0;
}

.Switch-Box .Switcher:hover .Switcherimage, .Switch-Box .Switcher:hover .Switcherimage-overlap {
    opacity:0;
}

.Switch-Box .Switcher .Switcherimage2 {
    opacity:0;
}
.Switch-Box .Switcher:hover .Switcherimage2 {
    opacity:1;
}
/* SPECIAL PLACEMENT */
.switch-placement a img[alt="PlanetsButtonStill"] {
    width: 115px;
    height: 109px;
}
.Switch-Box img[data-image-key="PrimeBraton.png"], .Switch-Box img[data-image-key="Braton.png"], .Switch-Box img[data-image-key="Orokin_Reactor.png"], .Switch-Box img[data-image-key="Orokin_Catalyst.png"]  {
    width: 100%;
    height: 125px;
    object-fit: none;
}

/* NEW Switcher System END */

/* START Switcher Buttons effects*/ 
.PolButton2 {
    height: 30px;
    width:127px;
    background-color:#000011;
    transition: 0.3s;
    -webkit-transition: 0.3s; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
}
 
.PolButton2:hover {
    background-color:#dfe6f0;
}
 
.Switcher {
    position:relative;
    height: 106px;
    width: 106px;
    z-index:0;
}
 
.Switcherlink {
    position:absolute;
    top:84px;
    width:100%;
    background-color: rgba(0,0,0,0.6);
    text-align:center;
    text-transform:uppercase;
    color:white;
    text-shadow: 0 0 2px;
    font-size:12px;
    z-index:4;
}
 
.Switcherlink a {
    color:white;
    text-decoration: none;
}
 
.Switcherimage, .Switcherimage-overlap {
    position:absolute;
    top:0px;
    transition:0.3s;
    -webkit-transition: 0.3s; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    opacity:1;
    z-index:1;
}
 
.Switcherimage2 {
    position:absolute;
    top:0px;
    transition:0.3s;
    -webkit-transition: 0.3s; 
    -moz-transition: 0.3s; 
    -o-transition: 0.3s; 
    opacity:0;
    z-index:2;
}
 
.Switcher:hover .Switcherimage {
    opacity:0;
}
 
.Switcher:hover .Switcherimage2 {
    opacity:1;
}
 
.Switcher:hover .Switcherlink {
    text-shadow: 0 0 4px;
}
/* ------------------ */
/* Modèle:HomePage/RecentActivity */
#ActivityFeed .mw-changeslist-line-inner-rollback,
#ActivityFeed .mw-changeslist-line-inner-tags,
#ActivityFeed .mw-changeslist-line-inner-userTalkLink,
#ActivityFeed .mw-changeslist-line-inner-separatorAftercharacterDiff,
#ActivityFeed .mw-changeslist-line-inner-separatorAftercharacterDiff
#ActivityFeed .mw-changeslist-line-inner-userTalkLink,
#ActivityFeed .mw-changeslist-legend,
#ActivityFeed .mw-changeslist-line-inner-historyLink,
#ActivityFeed .mw-changeslist-line-inner-separatorAfterLinks,
#ActivityFeed .mw-changeslist-line-inner-characterDiff,
#ActivityFeed .mw-changeslist-line-inner-comment,
#ActivityFeed .activity-tabs{
  display:none;
}
#ActivityFeed .mw-changeslist-line-inner-userLink:before {
  content:" edité par ";
  white-space: pre-wrap;
}
#ActivityFeed .mw-changeslist-line-inner {
  text-align:left;
  margin-left: 50px;
}

#ActivityFeed tr {
	display: flex;
	position: relative;
	font-size: 16px;
}
#ActivityFeed  td.mw-enhanced-rc {
	position: absolute;
    left: -31px;
    text-align: left;
}
#ActivityFeed td.mw-enhanced-rc abbr[title], .explain[title] {
	opacity: 0;
}
