@import url("/index.php?title=MediaWiki:Common.css&usemsgcache=yes&ctype=text/css&smaxage=86400&action=raw&maxage=86400");

/* ---------Formatage spécial, police / avatar pour admins------------- */
.avatar {
    border-radius: 100px;
}
.SpeechBubble .speech-bubble-message {
    border-left: .2rem solid #333;
    border-radius: 5px 0 0 5px;
}
.SpeechBubble .speech-bubble-message::before, .SpeechBubble .speech-bubble-message::after {
    display: none;
}
a[href="/fr/wiki/Utilisateur:Xhell96"]:nth-child(2)::after {
    content: "Fondateur";
    display: block;
    color: #f2bb15;
    margin: -6px 0;
    font-size: 10px;
}
a[href="/fr/wiki/Utilisateur:Beuargh"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:Zengrof"]:nth-child(2)::after,  a[href="/fr/wiki/Utilisateur:Franck054"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:Redgard_archeos"]:nth-child(2)::after {
    content: "Bureaucrate";
    display: block;
    color: #0bc5d8;
    margin: -6px 0;
    font-size: 10px;
}
a[href="/fr/wiki/Utilisateur:Killer_pingoui"]:nth-child(2)::after,  a[href="/fr/wiki/Utilisateur:Hasen1"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:Noxamas"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:ADDRMeridan"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:Yazuh"]:nth-child(2)::after {
    content: "Administrateur";
    display: block;
    color: #1297e6;
    margin: -6px 0;
    font-size: 10px;
}
a[href="/fr/wiki/Utilisateur:Kenexey"]:nth-child(2)::after, a[href="/fr/wiki/Utilisateur:Blade_Wolf_16"]:nth-child(2)::after {
    content: "Modérateur";
    display: block;
    color: #9d2aec;
    margin: -6px 0;
    font-size: 10px;
}
.comments li[data-user="Zengrof"] .speech-bubble-avatar a img, .comments li[data-user="Franck054"] .speech-bubble-avatar a img, .comments li[data-user="Wikirion"] .speech-bubble-avatar a img, .comments li[data-user="Redgard archeos"] .speech-bubble-avatar a img, .comments li[data-user="Beuargh"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #11c3bd;
    border: 2px solid #0dafbd;
}
.comments li[data-user="Zengrof"] .speech-bubble-avatar::after, .comments li[data-user="Franck054"] .speech-bubble-avatar::after, .comments li[data-user="Wikirion"] .speech-bubble-avatar::after, .comments li[data-user="Redgard archeos"] .speech-bubble-avatar::after, .comments li[data-user="Beuargh"] .speech-bubble-avatar::after {
    content: "Bureaucrate";
    display: block;
    text-align: center;
    color: #21d7bd;
    font-family: 'Manjari', serif;
    font-weight: bold;
    margin: 0 -8px;
}
.WikiaPage .edit-info-user[href$="Zengrof"], .WikiaPage .edit-info-user[href$="Franck054"],  .WikiaPage .edit-info-user[href$="Wikirion"], .WikiaPage .edit-info-user[href$="Redgard archeos"], .WikiaPage .edit-info-user[href$="Beuargh"] {
    color: #21d7bd;
    text-shadow: rgb(36, 150, 110) 0px 0px 4px;
}
.comments li[data-user="Killer pingoui"] .speech-bubble-avatar a img, .comments li[data-user="Hasen1"] .speech-bubble-avatar a img, .comments li[data-user="Noxamas"] .speech-bubble-avatar a img, .comments li[data-user="ADDRMeridan"] .speech-bubble-avatar a img, .comments li[data-user="Yazuh"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #2a76ec;
    border: 2px solid #2c75dd;
}
.comments li[data-user="Killer pingoui"] .speech-bubble-avatar::after, .comments li[data-user="Hasen1"] .speech-bubble-avatar::after, .comments li[data-user="Noxamas"] .speech-bubble-avatar::after, .comments li[data-user="ADDRMeridan"] .speech-bubble-avatar::after, .comments li[data-user="Yazuh"] .speech-bubble-avatar::after {
    content: "Admin";
    display: block;
    text-align: center;
    color: #1297e6;
    font-family: 'Manjari', serif;
    font-weight: bold;
}
.WikiaPage .edit-info-user[href$="Killer pingoui"], .WikiaPage .edit-info-user[href$="Hasen1"], .WikiaPage .edit-info-user[href$="Noxamas"], .WikiaPage .edit-info-user[href$="ADDRMeridan"], .WikiaPage .edit-info-user[href$="Yazuh"] {
    color: #1297e6;
    text-shadow: rgb(37, 83, 64) 0px 0px 4px;
}
.comments li[data-user="Kenexey"] .speech-bubble-avatar a img, .comments li[data-user="Blade Wolf 16"] .speech-bubble-avatar a img {
    box-shadow: 0 0 10px 2px #9d2aec;
    border: 2px solid #9d2aec;
}
.comments li[data-user="Kenexey"] .speech-bubble-avatar::after, .comments li[data-user="Blade Wolf 16"] .speech-bubble-avatar::after {
    content: "Modérateur";
    display: block;
    text-align: center;
    color: #af21d7;
    font-family: 'Manjari', serif;
    font-weight: bold;
    margin: 0 -6px;
}



/*--PERSONNAL CSS Yazuh Wall--*/
.goldy {
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}
.goldy:hover {
    filter: brightness(150%);
    transition: 0.3s;
}
.goldy a {
    text-decoration:none;
}
.profile_container_15 {
    border: solid;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-image: linear-gradient(167deg, #68602d 1%, #605425 25%, #eee3a1 50%, #6d684b 75%, #aa953e 100%) 30;
    background: radial-gradient(ellipse at center, #443501 0%,#000000 100%);
}
/*----------------------------*/